<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
<label>Types </label>
<select class="form-control form-control-lg" id="idType" name="idType"
[(ngModel)]="IdType" (change)="onChange()">
<option *ngFor="let type of types" value="{{type.idType}}">
{{type.nomtype}}
 </option>
</select>
</div>
  <div class="card shadow mb-4">
  <div class="card-body">
 <table class="table table-striped">
      <tr> <th>Id</th><th>Nom</th><th>Societe de Création</th> <th>Prix</th> <th>Date Création</th><th>Type</th> </tr>

  <tbody *ngFor="let  tele of telephones">
  <tr >
  <td>{{tele.idTelephone}}</td>
  <td>{{tele.nomTelephone}}</td>
  <td>{{tele.societe}}</td>
  <td>{{tele.prixTelephone}}</td>
  <td>{{tele.dateCreation | date:'dd/MM/yyyy'}}</td>
  <td>{{tele.type.nomtype}}</td>

  </tr>
  </tbody>

  </table>
  </div>
  </div>
  </div>
